html {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
    /* background-color: #F1F8E9; */
    background-color: #FFF3E0;
	/* font-family: Helvetica, sans-serif; */
	font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
}

body {
	width: 1200;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 0;
	/* background: #fbfbfb; */
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 13.5pt;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}