html {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background: #fbfbfb;
	font-family: Helvetica, sans-serif;
}

body {
	width: 1424;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 0;
	background: #fbfbfb;
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 14pt;
}
