html {
	background-color: #FAFAFA;
	font-family: "Open Sans", sans-serif;
}

body {
	font-size: 14pt;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 0;
}

#navbar {
	margin-top: 1ex;
	background: #E0E0E0;
	border: none;
 	box-shadow: none;
}

#navbar a {
	font-size: 16pt;
	color: #3E2723;
	font-weight: 700;
}

#navbar a:hover {
	text-decoration: underline;
}

#navbar a:active {
	color: #8D6E63;
}

#navbar li {
  margin-left: 2em;
}

.page-header {
	margin-left: 0.3em;
}

h2 {
	margin-top: 2ex;
	margin-left: 0.3em;
    font-size: 18pt;
}

.section {
	font-size: 14pt;
	margin-top: 1ex;
	margin-left: 0em;
}

.keywords {
	font-size: 16pt;
	font-weight: normal;
}

p {
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

.bibtex {
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.edu-entry a:link {
	color: #202040;
}

.edu-entry a:visited {
	color: #202040;
}

.label-default {
	font-weight: 500;
}

.edu-entry {
	margin-bottom: 1.5ex;
}

a:link {
	color: #0277BD;
}

a:visited {
	color: #0277BD;
}

.pub-entry {
	font-size: 13pt;
	margin-bottom: 1.5ex;
}

.pub-entry .title {
	font-style: italic;
	font-weight: 600;
}
